.dashboard-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-block: 3em;
}
.block-section{
    height: 3em;
    padding-inline: 3em;
    background-color: rgb(122, 122, 231);
}