.container-page{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;   
}

.page-title{
    padding-top: 1em;
    padding-bottom: 2em;  
}

.page-table{
    width: 100%;
    margin-top: 1em;
    padding-bottom: 5em;
}

.new-customer{
    position: fixed;
    top: 20vh;
    right: 7vh;
    width: 1.5em;
    height:1.5em;
    border-radius: 50%;
    font-size: 3em;
    text-align: center ;
    color: white;
    background-color: rgba(37, 146, 235, 0.849);
    padding-top: .1em;
}

table {
    width: 100%;
    border-collapse: collapse;
   
}
thead{
    margin-bottom: 1em;
    color: white;
    background-color: rgba(37, 146, 235, 0.849);
}
th, td {
    text-align: left;
    vertical-align: middle;
    border-bottom-width: 2px;
    border-bottom-style:solid;
    border-bottom-color: rgb(241, 109, 109);
}
th{
    padding: 1em; 
    font-weight: bold;
    margin-bottom: 1em;
}
td{      
    border-bottom-color: rgb(231, 231, 231);
}
#dayslate-column{
    color: red;
}

