@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
*{ 
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter',system-ui,'Roboto',Helvetica,Arial;
}
.wrapper {
    /*height: 90vh;
     margin: 2em 10%;
    border: solid 2px;
    border-color: rgb(234, 235, 237);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 8px 8px 8px rgb(236, 231, 231); */
}
.imagen {
    height: 100vh;
    background-image:url(../images/factory.jpeg);    
    filter: blur(5px);
}
.titulo-idioma{
    display: flex;
    justify-content:space-between;
}
.datos {
    margin: 1em;
    padding:0 5%;
    background-color: rgb(159, 163, 163);
    position: absolute;
    top: 20%;
    left: 25%;
    border-width: 2px;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
}
.formulario{
    margin-bottom: 0.5em;
}
.title{
    padding: 0.5em 0;
}
/* .content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
} */

/* lista de idioma 
.menu {
    padding: 0px;
    margin: 0px;
    list-style: none;  
}
.menu-item{
    
    border-style: solid;
    border-width: 2px;
    border-color: rgb(230, 10, 10);
    
    background-color: rgb(250, 244, 244);
    padding-left: 0.5em;
    padding-right: 0.3em;
    padding-top: .3em;
    padding-bottom: .5em; 
    font-size: .9em;
    text-align: center;
    
    cursor: pointer;
}
.menu>li>ul{
    display: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.menu>li:hover>ul{
    z-index: index 1;
    display:block;
    
}

.submenu-item{
   
    cursor: pointer;
    padding-left: 2.4em;
    padding-right: 0.3em;
    background-position: .3em 40%;
    background-size: 1.8em 1.8em;
    background-repeat: no-repeat;
    background-color: rgb(250, 244, 244);
    padding-top: .3em;
    padding-bottom: .5em;
    border-radius: .5em;
    font-size: .9em;

}
.es{     
    background-image: url(../images/ESP32.png);  
}
.en{
    background-image: url(../images/GBR32.png);
    
}  */
.form-section, .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em 0;
}
.section-part {
    margin-bottom: 0.5em;
}
.section-part-2 {
    padding: 1em 0;
    border: solid 2px;
    border-color: rgb(234, 235, 237);
    border-radius: 10px;
}
.links{
    margin: 1em 0;
}
.inline {
    border: solid 2px;
    border-color: rgb(234, 235, 237);
    border-radius: 10px;
}
.login {
    background-color: #d92b34;
    color:rgb(234, 235, 237);
    padding-top: 1em;
    padding-bottom: 1em;
}
.login a h3 {
    color: white;
}
/* .line{
    margin: 1em 0;
    color: rgb(246, 247, 249);
} */
.button{
    margin: 0.5em 0;
    padding: 1em;
    color: black;
    background-color: white;
    border: solid 2px;
    border-color: rgb(234, 235, 237);
    border-radius: 10px;
}
.enlace{
    color: #d92b34;
    padding: 0.5em 0;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
a {
    text-decoration: none;
}
@media only screen and (min-width: 550px) {
   /*  .wrapper{
        flex-direction: row;
    } */
  /*   .imagen{
        display: inline-block;
        width: 50%;
        height: 100%;
        background-position: center bottom;
    } */
    .datos{
        display:inline-block;
        width: 50%;
        margin-top: 3em;
    }
}