/* 
.btn-language{
    padding-left: 2.4em;
    padding-right: 0.3em;
    background-position: .3em 40%;
    background-size: 1.8em 1.8em;
    background-repeat: no-repeat;
    background-color: rgb(250, 244, 244);
    padding-top: .3em;
    padding-bottom: .5em;
    border-radius: .5em;
    font-size: .9em;

}

.es{     
    background-image: url(../images/ESP32.png);  
}
.en{
    background-image: url(../images/GBR32.png);   
} */
