*{
    box-sizing: border-box;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-between  ;
    background-color: rgb(33, 133, 248);
/*     background-color: rgba(37, 146, 235, 0.849); */
    color: #fff;
    height: 6em;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(141, 22, 22);
}

.element{
    margin-top: 1.1em;
    margin-bottom: 1.5em;
    margin-left: 2em;
    font-size: 1.5em;
}

.four{
    display: inline;
    padding-left: 2em;;
}

.shopping-cart{
    border: solid;
    border-width: 1px;
    box-shadow: none;
    border-radius: 8px;
    background-color: brown;
    color:white;

    font-size: 1em;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;;
}
	
.menu_on{
    cursor: pointer;
    margin-left: 2em;    
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	position: relative;
    top: 33%;
	z-index: 2;    
}
 
.menu_on span{
	width: 2em;
	height: 4px;
	border-radius: 4px;
	display: block;
	position: absolute;
	background: #fff;
	transition: all 0.25s ease; /* Propiedades a animar | Tiempo | Tipo animación*/
	transform-origin : 0px 100%;
}
 
.menu_on span:nth-child(2){
	top: calc(50% - 2px);
}
 
.menu_on span:nth-child(3){
    bottom: 0;
}
.visible_menu nav{
	left: 0;
	opacity: 1;
}
.visible_menu span:nth-child(1){
	transform: rotate(45deg)  translate(-2px,1px);  
}
 
.visible_menu span:nth-child(2){
	opacity: 0;
}
 
.visible_menu span:nth-child(3){
	transform: rotate(-45deg) translate(-1px,2px); 
}
.menu {
    padding: 0px;
    margin: 0px;
    list-style: none;  
}
.menu-item{
    /* list-style: none; */
    border-style: solid;
    border-width: 2px;
    border-color: rgb(230, 10, 10);
    border-radius: .5em;
    background-color: rgb(250, 244, 244);
    padding-left: 0.5em;
    padding-right: 0.3em;
    padding-top: .3em;
    padding-bottom: .5em; 
    font-size: .9em;
    text-align: center;
    
    cursor: pointer;
}
.menu>li>ul{
    display: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.menu>li:hover>ul{
    z-index: index 1;
    display:block;
    
}

.submenu-item{
   
    cursor: pointer;
    padding-left: 2.4em;
    padding-right: 0.3em;
    background-position: .3em 40%;
    background-size: 1.8em 1.8em;
    background-repeat: no-repeat;
    background-color: rgb(250, 244, 244);
    padding-top: .3em;
    padding-bottom: .5em;
    border-radius: .5em;
    font-size: .9em;

}
.es{     
    background-image: url(../images/ESP32.png);  
}
.en{
    background-image: url(../images/GBR32.png);
    
}

