.navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: aqua;
}
.navbar-elements{
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}
.element{
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;

    font-size: 1em;
}
.menu {
    padding: 0px;
    margin: 0px;
    list-style: none;  
}
.menu-item{
    /* list-style: none; */
    border-style: solid;
    border-width: 2px;
    border-color: rgb(230, 10, 10);
    border-radius: .5em;
    background-color: rgb(250, 244, 244);
    padding-left: 0.5em;
    padding-right: 0.3em;
    padding-top: .3em;
    padding-bottom: .5em; 
    font-size: .9em;
    text-align: center;
    
    cursor: pointer;
}
.menu>li>ul{
    display: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.menu>li:hover>ul{
    z-index: index 1;
    display:block;
    
}

.submenu-item{
   
    cursor: pointer;
    padding-left: 2.4em;
    padding-right: 0.3em;
    background-position: .3em 40%;
    background-size: 1.8em 1.8em;
    background-repeat: no-repeat;
    background-color: rgb(250, 244, 244);
    padding-top: .3em;
    padding-bottom: .5em;
    border-radius: .5em;
    font-size: .9em;

}
.es{     
    background-image: url(../images/ESP32.png);  
}
.en{
    background-image: url(../images/GBR32.png);
    
}

