.side-nav{
	position: fixed;
	top: 0;
	bottom: 0;
	left:-300px; /* Escondemos nuestro menú con un valor negativo */ 
	width: 300px;
	z-index: 2;
	padding: 90px 30px 30px;
	background: rgb(36, 37, 35);
	opacity: 0;
	transition: all 0.75s ease;
	font-size: 1.2em;
	overflow-y: auto;
}
.hidden{
    left:-300px;
}
.visible{
    left: 0px;
	opacity: 1;
}
	
.side-nav>div{
	display:block;
	text-decoration: none;
	padding: 10px;
	color: rgba(255,255,255,0.75);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	transition: all ease 0.25s;
}
 
.side-nav .section:hover{
	color: rgba(255,255,255,1);
	border-bottom-color:rgba(255,255,255,0.4);
}
#agent-name{
	font-size: smaller;
	padding: .5em;
	margin-bottom: 1em;
	border-radius: 8px;
	color:rgb(36, 37, 35);
	background-color: white;
}
.section{
	cursor: pointer;
}
.section .button{
	margin-top: .2em;
    padding: .5em;
    width: 20%;
    font-size: large;
}