.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.components-forms{
    display:flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;
    padding: 1rem;

    margin-bottom: 2em;
}